<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logouwu.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="https://icons.iconarchive.com/icons/pelfusion/flat-file-type/512/log-icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/logouwu.png" type="image/x-icon">
    <link href="css/registro.css" rel="stylesheet">
    <title>Ejercicio 1</title>
</head>

<body>
    <div id="app">
        <div v-if="won==0">
            <div class="sidebar">
                <div class="user__information">
                    <div class="user__logo">
                        <i class='bx bx-user-circle userlogo'></i>
                        <div class="palabritas">
                            <h2>Jugador</h2>
                            <h6>Puntuacion:<h6 v-text="score"></h6>
                            </h6>
                            <h6>Intentos:<h6 v-text="lives"></h6>
                            </h6>
                        </div>
                        <div class="user_inf">
                            <div class="user__username">
                            </div>
                            <div class="user__fullname">
                            </div>
                        </div>
                    </div>
                    <div id="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <ul class="nav__list">
                    <li @click="Regus">
                        <a class="menufoc active">
                            <i class='bx bx-data'></i>
                            <span class=" links__name ">Registrar Persona</span>
                        </a>
                        <span class="tooltip ">Log Database</span>
                    </li>
                    <li>
                        <a class="menufoc active" name="cerrarSesion">
                            <span class="links__name "><a class="btn second" href="">SALIR</a></span>
                        </a>
                        <span class="tooltip">Cerrar sesión</span>
                    </li>
                </ul>
            </div>
            <div class="header__cont ">
            </div>
            <div class="header__cont jeje">
            </div>
            <main style="
            background-color: #276fbd;">
                <div class="test">
                    <h2 class="table-title" id="title-sesion">Diviertete adivinando el año de nacimiento de usuarios
                        aleatorios.
                    </h2>
                    <div class="login-page">
                        <div class="cont-login">
                            <div class="img-login"></div>
                            <div action="" class="form">
                                <h5>Ingrese el año de nacimiento que tiene <span v-text="adv"></span></h5>
                                <input v-model="year" type="text" id="año" name="año" placeholder="Año de nacimiento" />
                                <button @click="Play">ADIVINAR</button>
                            </div>
                        </div>
                    </div>
                    <div class="container-table " id="idlogSes">
                        <table class=" tableSesion">
                            <table class="table_">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Puntuacion del Usuario</th>
                                        <th>Intentos usados</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="color: #FFF;" class="list-group-item" v-for="(user, index) in history"
                                        :key="index">
                                        <td>{{user.Name}}</td>
                                        <td>{{user.Score}}</td>
                                        <td>{{user.Lives}}</td>
                                    </tr>
                                </tbody>

                            </table>
                    </div>
                </div>
            </main>
        </div>
        <div v-if="won==1">
            <div class="wrapper">
                <div class="logo">
                    <img src="img/logouwu.png" alt="">
                </div>
                <div class="text-center mt-4 name">
                    Registrar Persona
                </div>
                <div class="p-3 mt-3">
                    <div class="form-field d-flex align-items-center">
                        <span class="far fa-user"></span>
                        <input v-model="user" type="text" name="nombre" id="nombre" placeholder="Nombre">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <span class="fas fa-key"></span>
                        <input v-model="year" type="text" name="año" id="año" placeholder="Año de nacimiento">
                    </div>
                    <button class="btn mt-3" @click="Save_Player">Registrar</button>
                </div>
            </div>
        </div>
        <div v-if="won==2">
            <div class="wrapper">
                <div class="logo">
                    <img src="img/logouwu.png" alt="">
                </div>
                <div class="text-center mt-4 name">
                    Registrar Persona
                </div>
                <div class="p-3 mt-3">
                    <div class="form-field d-flex align-items-center">
                        <span class="far fa-user"></span>
                        <input v-model="user" type="text" name="nombre" id="nombre" placeholder="Nombre">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <span class="fas fa-key"></span>
                        <input v-model="year" type="text" name="año" id="año" placeholder="Año de nacimiento">
                    </div>
                    <button class="btn mt-3" @click="Save_User">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="./js/anima.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="./js/main.js"></script>

</html>